*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
body{
    background-image: url("./background.jpg");
}
.sec-4
.sec-4-card2{

    height: 400px;
    width: 305px;
    background: #FFFFFF;


box-shadow: 0px 4px 20px rgba(40, 40, 40, 0.15);
border-radius: 10px;
    
}
 .sec-4-card2 .img-card2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 18px;

 }
 .img-card2 p{
    margin-top: 10px;
    margin-left: -45px;
 }
 .img-card2 span{
    font-size: 12px;
    margin-top: 14px;
    color: #938C8C;
 }
 .head-card2 h1{
    margin-left: 32px;
    margin-top: 22px;

 }
 .text-card2{
    margin-left: 32px;
    margin-top: 18px;
 }
 .text-card2 p{
    color: #938C8C;
 }
 .text-card2 p,span{
    margin-bottom:18px ;
 }
 .text-card2  span{
    color: black;
 }
 .footer-card2{
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
    margin-left: -10px;
 }
 .footer-card2 p{
    color: #71AA27;
    font-size: 12px;
 }
 .btn-card2 button{
    height: 40px;
    width: 240px;
    border-radius: 5px;
  margin-left: 32px;
  margin-top: 18px;
  background-color: #282828;
  color: white;
 }

   